/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(255, 255, 255);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(2, 2, 2);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 60px;
    background-color: rgba(123, 115, 233, 0.712);
    
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:370px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    border-color: red;

    
}
    
