/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

body{
    background-color: rgb(220, 220, 233);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
    
.myWeek1{
    margin: auto;
    max-width: 900px;
    background-color: rgb(220, 220, 233);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color:rgb(220, 220, 233);
}


/* Set the apperance of the class, chart */
.chart{
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    background-color:#ffffff; 
    width: 440px;
    height: 420px;
    border-color: aliceblue;
}

.chart1{
    background-color: white;
    width:500px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;

}


.chart2{
    background-color: white;
    width:300px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;

}

.chart3{
  width: 300;
  height: 350;
  border-width: 5px;
  max-width: 1000px;
  text-align: center;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-color: #ffffff;
  margin: auto;
  padding: 10px
}
.topnav {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif ;
  float:left;
  width: 24.8%; 
  padding: 12px 0; 
  transition: all 0.3s ease; 
  font-size: 15px; 
  }
  
  
  .topnav a:hover {
    background-color: rgb(243, 100, 33);
    color: black;
  }
  
  .topnav, .container {
    --borderWidth: 3px;
    background: #80271b;
    position: relative;
    border-radius: var(--borderWidth);
  }

  .topnav:after{
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #ab6666, #ac5e5e, #f8625d, #c58787, #d1b091, #f0cda9, #bbb1b1, #ddbdbd);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

  .container:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #ab6666, #ac5e5e, #f8625d, #c58787, #d1b091, #f0cda9, #bbb1b1, #ddbdbd);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }


h1{
    color:#000000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height:1.5em;
}

h4{
  color:#000000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height:1.5em;
}

h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav, .container{
    --borderWidth: 3px;
    background: #80271b;
    position: relative;
    border-radius: var(--borderWidth);
  }



.navbar{
    flex:1;
    text-align: center;

}

li{
    display: inline;
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 161, 88);
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    border: 3px;
    background-color: rgb(220, 220, 233);
}

li a:link{
    color: antiquewhite;
    text-decoration: none;
}
li a:visited{
    color: rgb(0, 0, 0);
}
li a:active{
    font-weight: bold;
    color: rgba(250,235,215, 0.05);
    
}

li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(96, 125, 252);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

li:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}



  
/*
a{
    border: 5px;
    border-color: rgb(253, 253, 253);
    border-style: solid;

    margin:15px
}


#link1{
    border-color:pink;
    border-style:dashed
}

#link2{
    border:2px;
    border-color:black;
    border-style: solid;

    border-radius: 5px;

}

#link3{
    background-color: #fcf7f7;

    padding:20px;
    
    border:2px;
    border-color:#5A5A5A;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight:700;
    color:#5A5A5A;
    text-align: center;
    text-decoration: none;
    
}

#link3:hover{

    background-color: #f4c2c2;

    border:2px;
    border-color:#5A5A5A;
    border-style: solid;
    
}


#link4{
    background-color: yellow;

    padding:20px;
    
    border:20px;
    border-color:black;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:grey;
    
    text-decoration: none;

    animation: border-pulsate1 4s infinite;
}
*/

